h1
  color: red

ul
  list-style-type: none
  padding: 0

li div
  display: inline-block
  height: 12px
  width: 12px
  border: 1px solid black
  margin-right: 10px

.delete-button
  margin-left: 10px
  display: none

li:hover .delete-button
  display: inline-block
